.task-list {
  width: 35%;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;      /* Utilizamos flexbox para alinear el contenido */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center;  /* Centra el contenido verticalmente */
  flex-direction: column;
}

.task-list h1{
  font-size: 50px;
  color: rgb(56, 31, 59);
}

.task-list h2 {
  font-size: 18px;
  color: rgb(39, 19, 44);
}

.task-list input[type="search"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.task-list ul {
  list-style: none;
  width: 90%;
  padding: 0;
}

.task-list li {
  width: 100%;
  display: flex;      /* Utilizamos flexbox para alinear el contenido */
  justify-content: space-between; /* Centra el contenido horizontalmente */
  align-items: center;  /* Centra el contenido verticalmente */
  border: 1px solid #ccc;
  padding: 4px 0px 4px 0px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.task-list ul :hover {
  background-color: #FCFDFD;
}

li span:first-child {
  /* Alinear la letra V a la izquierda */
  padding-left: 10px; /* Espacio de 1cm a la derecha de la letra V */
}

li p {
  flex-grow: 1;
  padding-left: 16px;
}

li span:last-child {
  /* Alinear la letra X a la derecha */
  padding-right: 20px;
}

.Icon{
  width: 24px;
  height: 24px;
}

.Icon-check{
  cursor: pointer; /* Para indicar que es clicable */
  font-weight: bold;
  padding-left: 16px;
}

.Icon-check--active {
  color: chartreuse;
}

.Icon-delete {
  color: black; /* Color por defecto del ícono */
  cursor: pointer; /* Para indicar que es clicable */
  font-weight: bold;
  padding-right: 16px;
}

.Icon-delete:hover {
  color: red; /* Color cuando el cursor está encima del elemento */
}

.TodoItem-p--complete {
  text-decoration:line-through;
  color: #838a8a;
}

.LoadingTodo-container {
  width: 100%;
  height: 48px;
  display: flex;      /* Utilizamos flexbox para alinear el contenido */
  justify-content: space-between; /* Centra el contenido horizontalmente */
  align-items: center;  /* Centra el contenido verticalmente */
  border: 0px solid #ccc;
  padding: 4px 0px 4px 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: linear-gradient(90deg, 
    rgba(172, 182, 29, 0.1), 
    rgb(255, 255, 255, 0.1)
  );
  background-size: 400% 400%;
  animation: loadingAnimation 3s ease-in-out infinite;
}

@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}