body {
    /* Fondo degradado con tres colores */
    background: linear-gradient(
      to right, 
      rgba(172, 182, 29, 0.5), /* Rosado suave */
      rgba(255, 255, 255, 0.5), /* Blanco en el centro */
      rgba(62, 172, 159, 0.5)  /* Crema suave */
    );
    
    /* Aplicar el degradado a toda la ventana */
     margin: 0;

    height: 100vh;      /* Hace que el contenedor ocupe el 100% de la altura de la pantalla */
    display: flex;      /* Utilizamos flexbox para alinear el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;  /* Centra el contenido verticalmente */
    background-color: #f0f0f0; /* Color de fondo de ejemplo */
    padding: 20px;      /* Espaciado interno */

    font-family: 'Arial', sans-serif;
}