.create-task {
  width: 30%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;      /* Utilizamos flexbox para alinear el contenido */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center;  /* Centra el contenido verticalmente */
  flex-direction: column;
}

.create-task h1 {
  font-size: 24px;
  color: rgb(56, 31, 59);
}

.create-task h2 {
  font-size: 14px;
  color: rgb(39, 19, 44);
}

.create-task input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}